
h1{
	font-family arial;
}
h2{
	font-family arial;
}
h3{
	font-size: 80px;
}
h4{
	font-family arial;
}
h5{
	font-family arial;
}
h6{
	font-family arial;
}


li a{
	text-decoration: none;
}

li{
	list-style: none;
}



.header_content{
	background-color: blue;
	width:60%;
}

.header_content h1{
	font-size: 40px;
}



