h1{
	font-family: Arial, Helvetica, sans-serif;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
}
h5{
	font-family: Arial, Helvetica, sans-serif;
}
h6{
	font-family: Arial, Helvetica, sans-serif;
}
nav li a{
	text-decoration: none;
	padding-top: 25px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-left: 50px;
}
li{
	list-style: none;
	display inline-block;
}
ul{
	list-style: none;
	display inline;
}
.nav_content{
	width:90%;
 	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-family: Arial, Helvetica, sans-serif;

}
.nav_content ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.nav_content li{
	display: inline-block;
	padding: 0 5px;
}
#lefmost li{
	border-right: none;
}
.header_content{
	width:90%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header_content h1{
	font-size: 40px;
}
.header_content li{
	font-size: 40px;
}
.left_boxes{
	  border: 1px solid gray;
	  margin: 0;
	  padding-left: 5;
	  margin-right: auto;
	  margin-left: auto;
}
.right_boxes{
	  border: 1px solid gray;
	  margin: 0;
	  padding: 0;
	  margin-right: auto;
	  margin-left: auto;
}
.first_section{
	border: 1px solid gray;
	margin-right: auto;
	margin-left: auto;
	width: 90%;

}
.first_section ul{
	border: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin: 10;
}
.first_section li{
	list-style: none;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}
.second_section{
	margin-top: 5px;
	border: 1px solid gray;
	margin-right: auto;
	margin-left: auto;
	width: 90%;

}
.third_section{
	margin-top: 5px;
	border: 1px solid gray;
	margin-right: auto;
	margin-left: auto;
	width: 90%;

}

.the_footer{
	margin-top: 5px;
	border: 1px solid gray;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}


